html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-print-color-adjust: exact;

    @page {
        size: A4;
        margin: 0cm !important;
    }
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#mapId {
    flex-grow: 1;
}

.overflow-visible {
    overflow: visible !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
